.header {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  float: right;
  align-items: right;
}

.navbar {
  height: 30px;
  width: 400px;
  float: right;
  vertical-align: baseline;
  align-items: flex-end;
  margin-right: -175px;
  padding-top: 10px;
}

.navbar-links {
  color: #737373;
  font-family: Arial;
  font-size: 13px;
  margin-left: 12px;
  text-decoration: none;
}

.app-icon {
  color: transparent;
  background-size:contain;
  height: 15px;
  margin-top: 2px;
  margin-left: 12px;
  width: auto;
  vertical-align:middle;
}
.sign-in {
  background-color: royalblue;
  color: white;
  font-family: Arial;
  font-weight: bold;
  margin-left: 12px;
  border-radius: 2px 2px 2px 2px;
  border: 0px;
  height: 32px;
  width: 60px;
}

#logo{
  padding-top: 120px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#search_input{
  border: 1px solid #dddddd;
  display: block;
  position: relative;
  margin: 30px auto 28px auto;
  padding: 0 40px 0 10px;
  font-family: arial sans-serif;
  width: 500px;
  height: 35px;
}

#search_input:hover {
  border: 1px solid grey;
}

.search_buttons {
  width: 400px;
  display: block;
  margin: 0 auto 0 auto;
  align-items: center;
}

.button {
  align-items: flex-start;
  background-color: #f2f2f2;
  color: #757575;
  border: 0px;
  display: inline-block;
  margin: 0 auto 0 auto;
  width: 130px;
  height: 36px;
  padding: 0 10px 0 10px;
  font-size: 13px;
  font-family: arial;
  font-weight:bold;
  text-align: center;
}

.button:hover {
  border: 1px solid grey;
  color: black;
}

#button_left {
    display: inline-block;
    margin: 0 auto 0 auto;
    float: left;
    margin-left: 60px;
}

#button_right {
    display: inline-block;
    margin: 0 auto 0 auto;
    float: right;
    margin-right: 60px;
}

.footer {
    height: 40px;
    width: 100%;
    margin-top: 400px;
    background-color: #f2f2f2;
    color: #737373;
    font-family: Arial;
    font-size: 13px;
    text-decoration: none;
    vertical-align: baseline;
    border-top:1px solid #dddddd;
    padding-top: 15px;
}

.footer_links_left {
  color: #737373;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-left: 12px;
  padding-left: 12px;
  color: #737373;
}

.footer_links_right {
  color: #737373;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  float: right;
  margin-right: 12px;
  padding-right: 12px;
  color: #737373;
}
